.ClassifiedAdsList__SectionHeading {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.ClassifiedAdsList__AdLinks{
  padding-left: 22px;
}

.ClassifiedAdsList__AdLink {
  font-size: 12px;
}
